.main{
	text-align: center;
	border-radius: 20px;
	width: 300px;
	height: 350px;
	margin: auto;
	position: absolute;
	font-family: 'SourceSansPro';
	font-size: 20px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.main>.list{
	color:hotpink;
	font-size:20px;
}
body {background-color:#f5f5dc;} 
p {margin:5px 0;}
h1 {margin:1px 0;}
@font-face{
	font-family: "SourceSansPro";
	src: url('/fonts/SourceSans3-Light.ttf');
}
