.main{
	text-align: center;
	border-radius: 20px;
	height: 350px;
	margin: auto;
	position: absolute;
	font-family: 'SourceSansPro';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.main>.button>a:link, a:visited {
	display:inline-block;
	text-align: center;
	text-decoration: none;
	width:100px;
	color: black;
	border: pink 2px solid;
	background-color:pink;
	margin: 5px;
	padding: 10px;
}
.main>.button>a:hover, a:active {
	background-color: hotpink;
}
.main>.avatar {
	height:6rem;
	width:6rem;
	border-radius:50%
}
.main>.slogan{
	font-size:15px;
}
.main>.list{
	color:hotpink;
	font-size:20px;
}
@media all and (max-width: 415Px) {
    div.main>.button {
		width: 200px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

	}
	.main>.button>a:link, a:visited {
		width: 130px;
	}
}
body {background-color:#f5f5dc;} 
p {margin:5px 0;}
h1 {margin:1px 0;}
@font-face{
	font-family: "SourceSansPro";
	src: url('/fonts/SourceSans3-Light.ttf');
}
